<section class="quizCont">
    <div class="logoCont">
      <img src="./assets/QuizBro.png" alt="" class="logo">
    </div>
    <section class="questions" ng-repeat="question in $ctrl.questionList track by $index">
        <p class="question">{{ question.question }}</p>
        <form class="answers" name="answers">
          <div class="answer">
              <input type="radio" name="answer" ng-click="$ctrl.submitAnswer(question, question.choice_one, $index)">
              {{question.choice_one }}
          </div>
          <div class="answer">
              <input type="radio" name="answer" ng-click="$ctrl.submitAnswer(question, question.choice_two, $index)">
              {{question.choice_two }}
          </div>
          <div class="answer">
              <input type="radio" name="answer" ng-click="$ctrl.submitAnswer(question, question.choice_three, $index)">
              {{question.choice_three }}
          </div>
          <div class="answer">
              <input type="radio" name="answer" ng-click="$ctrl.submitAnswer(question, question.choice_four, $index)">
              {{question.choice_four }}
          </div>
        </form>
      </section>
      <div class="btnCont">
          <button class="homeBtn submitQuiz" ng-click="$ctrl.submitForm()">Submit</button>
      </div>

</section>
<section id="submitOv" ng-if="$ctrl.showSubmit">

    <p>Your score is {{ $ctrl.userScore }}, please enter your name below: </p>
    <form class="nameForm" ng-submit="$ctrl.submitScore(userName)">
      <input class="nameInput" type="text" placeholder="Name" ng-model="userName">
      <button id="nameBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M3 22v-20l18 10-18 10z"/></svg>
      </button>
    </form>
  </section>